$color-pale-blue: hsl(225, 100%, 94%);
$color-bright-blue: hsl(245, 75%, 52%);

$color-very-pale-blue: hsl(225, 100%, 98%);
$color-desaturated-blue: hsl(224, 23%, 55%);
$color-dark-blue: hsl(223, 47%, 23%);

$color-hover: #766CF1;