html {
    font-size: 62.5%;
}

body {
    background: url(../images/pattern-background-mobile.svg), $color-pale-blue;
    background-size: 100%;
    background-repeat: no-repeat;

    @media screen and (min-width:1210px) {
        background: url(../images/pattern-background-desktop.svg), $color-pale-blue;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}



footer {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
}